@use "base" as b;

.title {
  font-weight: 700;
  font-family: b.$font-family-title;
  //   letter-spacing: 0.02em;
}

.hamburger-btn {
  color: b.$main-bg;
  display: none;
  padding: 0.36em;
  min-width: 35.91px;
  border: 1px solid rgb(233, 232, 232);
  border-radius: 0.25em;
  // transition: background 0.4s ease-out, color 0.2s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  z-index: 10;

  &:hover {
    color: white;
    background: b.$btn-hover-bg;
    border: 1px solid b.$btn-hover-bg;
  }

  &:focus {
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: 1px solid b.$header-bg;
  }

  &:active {
    background-color: b.$btn-active-bg;
  }

  @include b.mediaQuery(b.$mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > i {
    font-size: 1.6rem;
    display: none;

    &.active {
      display: inline-block;
    }
  }
}

.sidebar {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  z-index: 14;
  background: b.$main-bg;
  box-shadow: b.$sidebar-shadow;
  transform: translateY(-150%);
  transition: visibility 0.15s, opacity 0.2s ease-out, transform 0.2s ease-out;

  &.show-sidebar {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  .navList {
    color: black;
    color: b.$text-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-transform: capitalize;
    // gap: 0.5em;
    z-index: 10;
    // border-top: 1px solid b.$divider-color;
    border-top: 1px solid rgb(179, 179, 179);
    text-align: center;
    letter-spacing: 0.04em;
    transition: all 0.3s ease-out;
    font-size: 1.1rem;

    > li {
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(28, 41, 77);
      }

      &:hover {
        // color: b.$accentColor;
        background: rgb(45, 145, 185);
        // border-bottom: 1px solid b.$accentColor;
      }

      > a {
        display: block;
        padding: 0.72em;
        cursor: pointer;
      }
    }

    @media only screen and (min-width: b.$mobile) {
      display: none;
    }
  }
}

.divider-intro {
  height: 1px;
  width: 196px;
  margin: 0.7em auto;
  background-color: b.$divider-color;
  position: relative;

  .icon {
    position: absolute;
    border: 1px solid b.$divider-color;
    top: 50%;
    left: 50%;
    padding: 0.37em;
    transform: translate(-50%, -50%);
    font-size: 0.76rem;
    color: rgb(53, 148, 156);
    // color: rgb(72, 191, 202);
    // color: rgb(39, 128, 116);
    // color: #145d5f;
    color: #50bfd3;
    // color: #5ed7db;
    background-color: rgb(149, 184, 187);
    // background-color: rgb(39, 56, 58);
    background: linear-gradient(155deg, rgb(222, 243, 245), rgb(160, 240, 243));
    // background-color: rgb(96, 187, 195);
    // color: rgb(241, 241, 241);
    border-radius: 50%;
    //   background-color: white;
    // text-shadow: rgb(223, 187, 42) 1px 0 10px;
    box-shadow: white 0 0 0 8px;
    // text-align: center;
    // margin-top: 0.1em;
  }
}

.divider {
  @extend %content-divider;
  width: 60%;

  @include b.mediaQuery(b.$tablet) {
    width: 100%;
  }
}

.underline {
  width: 56px;
  height: 2px;
  background: b.$main-bg;
  background: #e6e7e8;
  background: b.$divider-color;
  background: #2b82d8;
  background: b.$underline-color;
  // background: rgb(181, 211, 211);
  margin: 1.2em auto;

  &.contact {
    background: rgb(171, 224, 231);
    // background: #2b82d8;
    background: #2b82d8;
    background: #2e5bee;
    // background: b.$underline-color;
    // background: rgb(171, 224, 231);
    // background: b.$underline-color;
  }
}

.divider-section {
  height: 1px;
  width: 100%;
  margin: 0em auto 0em;
  background-color: b.$divider-color;
  background-color: #d8e2f5;
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.78rem;
    color: white;
    background-color: rgb(80, 191, 211);
    background-color: rgb(67, 74, 175);
    // background-color: rgb(53, 148, 156);
    padding: 0.6em;
    border-radius: 50%;
    //   background-color: white;
    //   text-shadow: rgb(223, 187, 42) 1px 0 10px;
    box-shadow: white 0px 0px 5px 2px;
    // box-shadow: white 0 0 0 8px;
    z-index: 1;
  }

  //   &:after {
  //     position: absolute;
  //     content: '';
  //     top: 0;
  //     left: 0;
  //     width: 50%;
  //     background: rgb(180, 41, 115);
  //     z-index: -100;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}

.intro-action-btn {
  @extend %main-btn-defaults;
  background: rgb(38, 101, 173);
  // background: #236b9b;
  margin: 0.6em 0;
  padding: 0.7em 1em;
  border: 1px solid rgb(70, 107, 192);
  font-weight: bold;
  letter-spacing: 0.01em;
  z-index: 1;

  &:visited {
    color: b.$text-white;
  }

  .icon {
    @extend %left-right-animation;
    font-size: 1rem;
    margin-left: 0.44em;
  }
}

.scrollDown {
  @extend %bounce-down-animation;
  z-index: 11;
  color: b.$main-bg;
  color: white !important;
  position: absolute;
  bottom: 1%;
  left: 47%;
  padding: 1.2em;

  .icon {
    font-size: 1.7rem;
  }

  @include b.mediaQuery(b.$tablet) {
    left: 46%;
  }

  @include b.mediaQuery(b.$mobile) {
    left: 43%;
  }
}

.card {
  @extend %project-container;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  line-height: 1.5;
  //   color: #fff;
  background: b.$bg-white;
  // box-shadow: b.$paperBoxShadow;
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  .card-divider {
    @extend %content-divider;
    width: 100%;
  }

  .card-title {
    font-size: 1.5rem;
    width: 100%;
  }

  .sub-title {
    font-size: 1rem;
    margin-bottom: 0.3em;
    // text-align: left;
  }

  p > a {
    color: rgb(26, 100, 238);
    transition: color 0.3s ease-out;

    &:hover {
      color: rgb(15, 37, 228);
      text-decoration: underline;
    }
  }

  .tech-container {
    width: 100%;

    .tech-list {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;

      > li {
        padding: 0.4em 0.6em;
        background: rgb(27, 113, 149);
        color: white;
        border-radius: 0.2em;
        // margin: 0.12em 0.25em;
      }
    }
  }

  .link-container {
    width: 100%;
    margin-top: 0.36em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    flex-flow: row no-wrap;
    gap: 2em;
    text-align: center;

    @include b.mediaQuery(b.$mobile) {
      gap: 1.2em;
    }

    .btn {
      @extend %main-btn-defaults;
      font-weight: bold;
      letter-spacing: 0.04em;
      padding: 0.5em 1em;
      padding: 0.6em 0.8em;
      width: 100%;
      background: rgb(27, 113, 149);
    }
  }
}

.project-image-container {
  // @extend %project-container;

  .project-image {
    border-radius: 0.28em;
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.accordion {
  @extend %content-maxWidth;
  width: 90%;

  @include b.mediaQuery(b.$mobile) {
    width: 100%;
  }

  .accordion-item {
    background-color: white;
    max-width: 788px;
    margin: 0.75em auto;
    border-radius: 0.32em;
    box-shadow: b.$accordion-boxShadow;
  }

  .accordion-item-header {
    padding: 1em 3em 1em 1em;
    min-height: 3.5em;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 0.32em;
    transition: box-shadow 0.35s ease-out;

    &:hover {
      box-shadow: 0px 0px 4px 1px grey;
    }

    &:after {
      content: '\002B';
      font-size: 2rem;
      position: absolute;
      right: 1rem;
    }

    &.active:after {
      content: '\2212';
    }
  }

  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-item-body-content {
    padding: 1em;
    line-height: 1.5;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #34495e, #72a8af, #34495e) 1;

    > p:first-child {
      // margin-bottom: 0.5em;
      // white-space: pre-line;
    }
  }
}

.scroll-top-btn {
  @extend %bounce-animation;
  position: fixed;
  font-size: 1.4rem;
  bottom: 1em;
  right: 1em;
  width: 1.85em;
  height: 1.85em;
  border: none;
  border-radius: 50%;
  background: #fd665c;
  color: white;
  z-index: 10;
  transition: all 0.35s ease-out;
  visibility: hidden;
  cursor: pointer;

  &.show-go-to-top {
    visibility: visible;
    z-index: 12;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgb(250, 130, 130);
  }

  &:hover {
    // background: rgb(250, 208, 208);
    box-shadow: 0 0 1px 2px rgb(250, 130, 130);
  }

  &:active {
    background: rgb(253, 76, 76);
  }

  @include b.mediaQuery(b.$mobile) {
    font-size: 1.3rem;
    bottom: 0.55em;
    right: 0.55em;
  }
}
