@use 'base' as b;

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 6.6vh;
  min-height: 3.5em;
  background: b.$bg-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 0.4em 0.8em;
  box-shadow: 0px 0px 3px b.$bg-main;

  @include b.mediaQuery(b.$extra-large, min-width) {
    justify-content: space-around;
  }

  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;

    .icon {
      font-size: 1.3rem;
      color: b.$text-white;
      background-color: b.$bg-main;
      padding: 0.3em 0.28em;
      border-radius: 0.25em;
      box-shadow: white 0px 0px 5px 2px;

      @include b.mediaQuery(b.$mobile) {
        font-size: 1.12rem;
      }
    }

    .website-heading {
      font: {
        family: 'Rock Salt', cursive;
        size: 1.65rem;
        weight: 900;
      }
      color: b.$text-white;
      margin: 0.35em 0;
      letter-spacing: 0;
      text-shadow: #f3dae4 1px -1px 0px;

      @include b.mediaQuery(b.$mobile) {
        font-size: 1.5rem;
      }

      &:first-letter {
        text-shadow: none;
      }

      > span:not(:last-child) {
        color: b.$accent-color;
      }

      .portfolio {
        font: {
          family: 'Codystar';
          weight: bold;
          size: 0.94rem;
        }
        letter-spacing: 0.02em;
        text-shadow: none;
        margin-left: 0.4em;

        @include b.mediaQuery(b.$mobile) {
          font-size: 0.88rem;
          margin-left: 0.44em;
        }
      }
    }
  }

  .navList {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    gap: 0.5em;
    margin-right: 3em;
    font-size: 1.06rem;

    li > a {
      padding: 0.35em;
      transition: color 0.3s ease-out;

      &:hover {
        color: b.$link-hover-color;
      }
    }

    @include b.mediaQuery(b.$tablet) {
      margin-right: 0;
    }

    @include b.mediaQuery(b.$mobile) {
      display: none;
    }
  }
}

#home {
  padding: 0 1.25em 1.25em;
  position: relative;
  min-height: 93.4vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 168px;
    background: url('/src/assets/waves2.svg');
    background-size: cover;
    background-position: 100% 33%;
    z-index: -1;
  }

  @include b.mediaQuery(b.$big-screen) {
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: url('/src/assets/waves2.svg') center / cover;
      z-index: -1;
    }
  }

  @media screen and (min-width: b.$tablet) and (max-height: 799px) {
    &:after {
      background: none;
    }
  }
}

.intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3em;
  flex-direction: column;
  position: relative;

  .name {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @include b.mediaQuery(b.$tablet) {
      font-size: 2.3rem;
    }

    > span {
      color: b.$accent-color;
    }
  }

  .job-position {
    font-size: 1.65rem;
    letter-spacing: 0.02em;
    margin-bottom: 0.1em;

    @include b.mediaQuery(b.$tablet) {
      font-size: 1.5rem;
    }

    > span {
      font-size: 1.25rem;
      color: rgb(50, 190, 245);
    }
  }
}

.social-list {
  margin-left: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.5em;

  .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    &.gitHub {
      margin-left: 0.1em;
    }

    .menu-link {
      font-size: 1.05rem;
      transition: color 0.25s ease-out, transform 0.25s ease-out;

      &.email {
        color: rgb(40, 40, 94);
      }

      &.github {
        color: #333;
      }

      &:hover {
        color: b.$link-hover-color;
        transform: scale(1.02);
      }

      @include b.mediaQuery(b.$tablet) {
        font-size: 1rem;
      }

      > span {
        font-size: 1rem;
        margin-left: 0.21em;
      }
    }

    .circleDivider {
      font-size: 0.94rem;
      color: rgb(54, 54, 54);
    }
  }
}

.illustration-container {
  margin: 2em;

  @include b.mediaQuery(b.$mobile) {
    margin: 1.25em;
  }

  .intro-image {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    @include b.mediaQuery(b.$mobile) {
      padding: 0em;
    }
  }
}

#projects {
  overflow-y: hidden;
  padding: 1.75em;
  display: grid;
  place-items: center;
  background: rgb(159 170 236 / 15%);

  @include b.mediaQuery(b.$mobile) {
    padding: 1.5em 0.65em;
    background: linear-gradient(rgba(#f1f2fc, 0.95), rgba(#f1f2fc, 0.05)),
      url('/src/assets/white-waves.png');
  }

  .projectsHeading {
    @extend %content-maxWidth;
    text-align: center;
    font-size: 1.6rem;
    background: #ffffff;
    margin: 0.2em auto;
    padding: 0.5em 0.8em;
    position: relative;
    z-index: 1;
    letter-spacing: 0.02em;
    box-shadow: b.$title-shadow-main;

    .iconTitle {
      color: b.$btn-main-bg;
      margin-right: 0.16em;
    }

    > span {
      background: white;
    }
  }

  .project-item-container {
    @extend %content-maxWidth;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 2em;
    margin: 0.5em 0;

    @include b.mediaQuery(b.$tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.18em;
      margin: 0;

      &:nth-of-type(even) {
        flex-direction: column-reverse;
      }
    }
  }
}

#questionsAnswers {
  background: b.$bg-questions;
  padding: 0.85em 0.85em 2.25em;

  .questions-headline {
    font-size: 1.6rem;
    text-align: center;
    color: b.$text-white;
    padding: 0.75em 0 0;
  }
}

#contact {
  background-image: linear-gradient(
      rgba(64, 151, 250, 0.14),
      rgba(127, 161, 240, 0.14)
    ),
    url('/src/assets/email-pattern.png');
  background-position: 20% -45%;
  display: grid;
  place-items: center;
  padding: 3em 2em;

  @include b.mediaQuery(b.$mobile) {
    padding: 1.25em 0 0;
    background: rgb(159 170 236 / 15%);
  }

  .contactHeading {
    padding: 0.5em 0.8em;
    font-size: 1.6rem;
    background: white;
    letter-spacing: 0.02em;
    box-shadow: b.$title-shadow-main;

    .iconTitle {
      color: #436cf1;
      margin-right: 0.16em;
    }
  }

  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    max-width: 668px;
    height: 100%;
    padding: 2.15em;
    background: white;
    border-radius: 0.25em;
    box-shadow: #adc8fa 0px 0px 0px 2px inset, #adc8fa 3px 3px;
    z-index: 0;
    position: relative;

    @include b.mediaQuery(b.$mobile, min-width) {
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 0em;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        border: 1px solid #adc8fa;
      }
    }

    @include b.mediaQuery(b.$mobile) {
      padding: 2em 0.85em;
      border-radius: 0;
      box-shadow: b.$paper-box-shadow;
      border: none;
      max-width: none;
    }

    > p {
      font-size: 1.1rem;
      line-height: 1.5;
      text-align: center;

      @include b.mediaQuery(b.$mobile) {
        font-size: 1.08rem;
      }
    }

    .email-link {
      color: #065cfb;
      font-weight: bold;
      letter-spacing: 0.03em;
      transition: color 0.3s ease-out;

      @include b.mediaQuery(b.$mobile) {
        font-size: 1.1rem;
      }

      &:hover {
        color: b.$link-hover-color;
      }
    }
  }
}

#footer {
  min-height: 8vh;
  background: rgb(29, 29, 29);
  color: rgb(200, 200, 201);
  font-size: 0.915rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    margin-right: 0.35em;
  }
}
